<!DOCTYPE html>
<html>

<head>
	<meta charset="BIG5">
	<title>LoginError</title>
	<link rel="stylesheet" href="css/st1.css">
</head>

<body>
	<div id="header">
		<div id="title">loginError</div>
	</div>
	<div id="navigater">
		<div>
			<table align="right" width="20%">
				<tr>
					<td><a href="/index.html">Home</a></td>
					<td><a href="goAddMember">Sign up</a></td>
					<td><a href="/login.html">Log in</a></td>
				</tr>
			</table>
		</div>
	</div>
	<div id="content"></div>
	<div id="footer"></div>
</body>

</html>